<%= provide(:title, '水揚げ情報作成') %>
<%= provide(:class_text, 'landing--form') %>
<div class="container">
  
  
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>水揚げ情報作成</h1>
  
      <div>
        <%= link_to "水揚げ情報一覧", landings_path, class: "btn btn-primary" %>
      </div>
      
      <%= render 'form' %>
      
    </div>
  </div>

</div>